# Python
__pycache__/
*.py[cod]
*.pyo

# Python package build files
mole_ai.egg-info/
*.egg-info/

# Virtual environments
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
